<%- include('../../includes/project/headProject.ejs') %>
    <link rel="stylesheet" href="/stylesheets/booksProve02.css">
</head>

<body>
    <%- include('../../includes/project/navProject.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card book-item">
                        <header class="card__header">
                            <h1 class="book__title" style="color: black;"></h1> <h1 class="book__title" style="color: #000;"><%= product.name %></h1>
                        </header>
                        <div class="card__content">
                            <p class="book__description" style="color: black;"></p><p class="book__description" style="color: #000;">$<%= product.price %></p>
                        </div>
                        <div class="card__content">
                            <p class="book__description" style="color: black;"></p><p class="book__description" style="color: #000;"><%= product.description %></p>
                        </div>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                        <div class="card__actions">
                             <a href="/project/product-detail/<%= product.id %>" class="btn">Details</a>
                        </div>
                    </div>
                    </article>
                <% } %>
            </div>
            <section class="pagination">
                <% if (currentPage !== 1 && previousPage !== 1) { %>
                    <label>First Page</label>
                    <a href="/project/store/?page=1">1</a> 
                <% } %>
                <% if (hasPreviousPage) { %>
                    <a href="/project/store/?page=<%= previousPage %>"><%= previousPage %></a>
                <% } %>
                <a href="/project/store/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                <% if (hasNextPage) { %>
                    <a href="/project/store/?page=<%= nextPage %>"><%= nextPage %></a>
                <% } %>
                <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                    <a href="/project/store/?page=<%= lastPage %>"><%= lastPage %></a>
                    <label>Last Page</label>
                <% } %>
            </section>
        <% } else { %>
            <h1>No products found!</h1>
        <% } %>
    </main>
<%- include('../../includes/project/endProject.ejs') %>